@import url('https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700&display=swap');


html, body {

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
  background-blend-mode: darken;


 

}

.card-principal{
 height: 100%;
 width: 100%;
 display: grid;
 align-items: center;
 justify-items: center;
 


}

/* partie presentation du quiz */
.presentation,
.quiz,
.success_party
{


  width: 400px;
  height: 500px;
   /* left:  410px;  */

  background: #ffff;


}
/* priorité d'affichage de container */


.card-principal .quiz{
  /* z-index: 2; */
display: none;

}
.card-principal .success_party{

  /* z-index: 1; */
display: none;
}

.card-principal .presentation{

  display: flex;
  flex-direction: column;

   
  }

.containt, .title {

  margin:  10px;

}

.title{

  margin-top: 20px;
}

.submit{
text-align: center;
position: relative;
top: 30px;

}
.submit .btn{

  width: 180px;
  font-size: 20px;
}

.title{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;

}

.breifing{

  font-size: 15px;
  margin: 20px;
  text-align: center;
  color:#555555 ;
  line-height: 20px;
  font-family: 'Inter';
 

}

.containt > .invalid{
  border:  1px solid #FF3838;

}
.containt > .msg{

  color: #FF3838;
  font-size: 15px;
  padding: 10px;

}
.success{

  border : 1px solid #028A3D;
}


/* partie du questionnaire */

.quiz{

  display: flex;
  flex-direction: column;
  align-items: center;

 
}
.questions{

  height: 60px;


}
.time_question{
 height: 80px;



}
.check_answer{
  flex: auto;

}
.exit_next{

  height: 80px;

}
.questions{
  font-weight: 400;
  font-family: 'Inter';
  font-size: 15px;
  text-align: center;
  color: #555555;
  padding-top: 20px;
}
.questions, .time_question , .check_answer , .exit_next{
  margin: 10px 0;
  width: 350px;
}

.count_question{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: #555555;
  font-size: 14px;
}
.container-radio{

  margin: 15px 0 ;
  height: 35px;
  padding-top: 5px;
  padding-left: 10px ;
  align-content: center;
  border: 1px solid #DDDDDD;
}

.container-radio > label{
  padding-left: 10px; 
}
.container-radio:hover{

  border:#028A3D 1px solid;
}
input[type="radio"]:checked{

  appearance: none;
  border: 7px solid #028A3D;
  border-radius: 50px;
}



label{

  font-size: 15px;
  font-family: 'Inter';
  color: #555555;
}
.exit_next{
  display: flex;
  justify-content: space-between;
}
.exit_next > button{

  width: 160px;
  height: 40px;
  align-items: center;
  align-content: center;
}
.exit_next .exit{

  background: #EC880C;;
  border: none;
}




/* partie reussite */

.success_party > .container{

   display:  flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   align-content: center;
   height: 500px;
   gap: 10px;
   padding-top: 50px;


}

.name_user, .email_user, .count_page_succed,.icon, .accueil{
width: 300px;

}

.icon{

  height: 170px;

}
.icon > img{

  padding-top: 20px;
}
svg{

 padding: 20px 40px;
 width: 200px;
}
circle{
 
  
  fill: none;
  stroke: #FF3838;
  stroke-width: 10px;
  transform: translate(5px, 5px);


}
.line1 , .line2{

  stroke: #FF3838;
  stroke-width: 10px;
  transform: translate(12px,12px);
}
.name_user{
   
  font-size: 30px;
  font-family: 'Inter';
  height: 40px;
  
}
.email_user{
  font-family: 'Inter';
  height: 20px;
}


.accueil > button{

  width: 160px;


}
.icon , .count_page_succed{

  margin-top: 10px;
}


@media only screen and (max-width: 500px){
	/*Big smartphones [426px -> 600px]*/

  .card-principal{

    background: #ffff;
  }

.presentation,
.quiz,
.success_party
{
  width: 100%;
  height: 100%;
   /* left:  410px;  */
}
.breifing{

  margin-top: 30px;
  font-size: 25px;
  line-height: 25px;
  position: relative;
  top: 30px;
}

.title{

  height: 60px;
  font-size: 40px;
  position: relative;
  top: 30px;
  
}
.breifing{

  height: 220px;
  padding-top: 20px;
  letter-spacing: 2px;
}
.containt{

  height: 80px;
}
.containt, .title{
  margin-top: 20px;
}
.containt > input{

  height : 50px;
}
.containt > label{

  font-size: 20px;
}
.submit .btn{

  width: 250px;
  height: 50px;
  font-size: 30px;
}




}
  