@import url('https://fonts.googleapis.com/css2?family=Play&family=Playfair+Display:ital,wght@0,400;0,800;1,400;1,700&display=swap');


html, body {

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #85F6B8 0%, rgba(142, 217, 235, 0.85) 99.84%);
  background-blend-mode: darken;

}

/* partie presentation du quiz */
.display,
.quiz,
.success_party
{

  position: absolute;
  width: 400px;
  height: 500px;
  left:  410px;
  top: 40px;
  background: #ffff;

}

/* priorité d'affichage de container */


.display{

  z-index: 3;
}
.quiz{
  z-index: 2;

}
.success_party{

  z-index: 1;
}
.containt, .title {

  margin: 10px;
}
.title{

  margin-top: 20px;
}

.submit{
text-align: center;
position: relative;
top: 30px;

}
.submit .btn{

  width: 180px;
  font-size: 20px;
}

.title{
  text-align: center;
}

.breifing{

  font-size: 20px;
  margin: 20px;
  text-align: center;
  color:#555555 ;
  line-height: 20px;
  font-family: 'Inter';

}

/* partie du questionnaire */

.quiz{

  display: flex;
  flex-direction: column;
  align-items: center;

 
}
.questions{

  height: 60px;

}
.time_question{
 height: 80px;



}
.check_answer{
  flex: auto;

}
.exit_next{

  height: 80px;

}


.questions{
  font-weight: 400;
  font-family: 'Inter';
  font-size: 15px;
  text-align: center;
  color: #555555;
  padding-top: 20px;


}

.questions, .time_question , .check_answer , .exit_next{



  margin: 10px 0;
  width: 350px;

  

}


.count_question{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: #555555;
  font-size: 14px;


}
.form-check{

  margin: 15px 0 ;
  height: 35px;
  align-content: center;
}
.answer{
  padding-top: 5px;
}
.form-check  .answer, label{
  padding-left: 10px; 
}
.exit_next{




  display: flex;
  justify-content: space-between;
}
.exit_next > button{

  width: 160px;
  height: 40px;
  align-items: center;
  align-content: center;

}
.exit_next .exit{

  background: #EC880C;;
  border: none;
}

/* partie reussite */

.success_party > .container{

   display:  flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   align-content: center;
   height: 500px;
   gap: 10px;
   padding-top: 50px;


}

.name_user, .email_user, .count_page_succed,.icon, .accueil{
width: 300px;

}

.icon{

  height: 170px;

}
.icon > img{

  padding-top: 20px;
}
.name_user{
   
  font-size: 30px;
  font-family: 'Inter';
  height: 40px;
  
}
.email_user{
  font-family: 'Inter';
  height: 20px;
}


.accueil > button{

  width: 160px;


}
.icon , .count_page_succed{

  margin-top: 10px;
}


  